
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1090px;
    padding: 0 20px;
    margin: 0 auto;
}

.hero {
    background: url(/src/images/design/hero-background.png) no-repeat;
    background-size: cover;

    header {
        display: flex;
        padding: 40px 0;
        color: $text-color;
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    &__inner {
        display: flex;
        flex-direction: column;

        justify-content: space-between;

        min-height: calc(100vh - 50px);

        @media screen and (max-width: 1024px) {
            min-height: auto;
        }
    }
}

.hero-nav {
    margin-left: 120px;

    &__list { 
        list-style-type: none;

        // flex 
        display: flex;
        height: 32px;
        align-items: center;
    }

    &__item {
        display: inline-block;
        

        & + & {
            padding-left: 20px;
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}


.hero-cta {
    &__text {
        margin: 35px 0;
    }


    h1 {
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;     
        letter-spacing: 0.2px;  
    
        color: $text-color;
    
        text-transform: uppercase;
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;

        color: $second-text-color;
    }
}

.hero-info {
    display: flex;

    position: relative;
    top: 20px;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.hero-info-item {
    background-color: #fff;
    width: 100%;
    padding: 35px 30px;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

    &:not(:last-child) {
        margin-right: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: $text-color;

        margin: 10px 0;

    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $second-text-color;
    }

    @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
    }
    
    


}

.selected-item {
        background-color: $secondary-color-1;
        color: #fff;
    }

.feature {
    background-color: #fafafa;
    padding: 100px;

    &-title{
        text-align: center;
        color: $text-color;
    }

    p {
        width: 1000px;;
        font-size: 14px;
        color: $second-text-color;
    }

    h2 {
        color: $text-color;
        font-size: 50px;
        padding: 10px;
        font-weight: 700;
    }
    .why-choose-text {
        text-transform: uppercase;
    }

    &-items {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 0;
    }

    &-item {
        background-color: #fff;
        width: 241px;
        height: 209px;
        padding: 40px 25px;
        margin: 15px;
        text-transform: uppercase;
        color: $second-text-color;
    }

    &-item_practice {


        h5 {
            color: $text-color;
            font-size: 16px;
            font-weight: 700;
            width: 90%;
        }

        p {
            font-size: 14px;
            width: 100%;
            padding-top: 20px;
            line-height: 20px;
            color: $text-color;
        }

        height: 300px;
        width: 25%;
        margin: 20px;
        padding: 30px;
        background-color: #fff;   
    }

    

 }
.practice-advice-items {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }